nav {
  font-size: 1.5em !important;
}
.quote-text{
  text-align: center;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75rem;
}
.quote-icon {
  font-size: 1em;
  margin-right: 0.4em;
}
.quote-author {
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
  padding-bottom: 2em;
}
.quote-box {
  padding: 2em;
}

.comment-card {
  margin: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
