{% macro displayQuote(quote)%}
<div class="quote-text">
  <i class="fa fa-quote-left quote-icon"></i>
  <span id="quote-text">{{quote.quote}} </span>
</div>
<div class="quote-author">
  -<span id="author">{{quote.author}}</span>
</div>
{% endmacro%}

<!--Display blogs macro-->
{% macro displayBlogs(blogs) %}

{% endmacro %}

<!--Display blogs Comments-->
{% macro displayComments(comments) %}
<div class="row">
  {% for comment in comments %}
  <div class="col-md-3 col-lg-3 card mb-3 comment-card">
    <div class="card-header">
      <p class="text-center"><b>{{comment.commenter}}</b> says:</p>
    </div>
    <div class="card-body">
      <p class="text-center"> {{comment.name| truncate(30)}} </p>
    </div>
    <div class="card-footer text-muted">
      <p class="quote-author">{{comment.posted.strftime('%B %-d, %Y %-I:%M')}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}